<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLMY2C9agHJqODn7oTRw9hcu1ciehEvZA</string>
	<key>GCM_SENDER_ID</key>
	<string>1094049674871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flap.flapapp</string>
	<key>PROJECT_ID</key>
	<string>flap-app-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>flap-app-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094049674871:ios:7c1e509996e3fe25dfb872</string>
</dict>
</plist>